.outer-most-margin{
  margin: 3% 5%;
  height: auto;
  width: auto;
  text-align: center;
}
body {
  
  background: url('../images/body-rept.jpg');
  background-repeat: repeat-x;
}


.main-body{
  height: auto;
  width: auto;
  display: inline-block;
  border: 10px solid cornsilk;
  background-color: cornsilk;
  
}


.main-body-header-image{
  height: auto;
  width: auto;
  border: 2px solid black;
  border-radius: 5px;
  
  
}
.carousel-inner{
  height: auto;
  background-size: contain, cover;
}

.carousel-inner img{
  object-fit: contain;
}
.main-body-container{
  width: auto;
  height: auto;
  
  border-radius: 5px;
}
.main-body-container{
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 25px;
  padding-right: 25px;
  align-self: center;
}


.main-body-login-page{
  height: 400px;
  font-size:25px;
  padding: 45px;
  align-content: center;

}

  
  

.main-body-footer{
  height: auto;
  width: 100%;
  float: left;
  border-radius: 5px;
  text-align: center;
  background-color: #222;
  color:  #ffffff;
}
#footer{
  
  align-content: center;
}


#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  
}
#footer ul.social li{
  padding: 3px;
}

#footer ul.social li a i {
  margin-right: 20px;
  font-size:35px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.main-body-footer section {
  padding: 30px 0;
  align: center;
  
}

.about-section{
  text-align: left;
  padding-left: 40px;
}

.contact-container{
  display: flex;

}
.contact-header{
  display:flex;
  flex-direction: column;
  width: 100%;
}
.contact-left-panel{
  padding-left: 40px;
  padding-right: 10px;
  text-align:left;
} 
.contact-right-panel{
display: flex;
width: 40%;

}
.form-container{
  width: 100%;
}